[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
gsheetsdb = "*"
pyparsing = "*"
gspread = "*"
oauth2client = "*"
pandas = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.9"
